.red {
    background-color: #DC3545;
    border-color: #DC3545;
}

.green {
    background-color: #28A745;
    border-color: #28A745;
}

.yellow {
    background-color: #FFC107;
    border-color: #FFC107;
}

.box {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem .65rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .25rem;
}

.detailsDisplayName {
    font-size: 1.25rem;
}

.buttons {
    margin-top: 5px;
}

.userDetailsContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profilePicture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
}

.offline {
    background-color: #DC3545;
    border-color: #DC3545;
}

.online {
    background-color: #28A745;
    border-color: #28A745;
}

.busy {
    background-color: #FFC107;
    border-color: #FFC107;
}

.statusBox {
    float: right;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .25rem .5rem;
    font-size: 0.8rem;
    line-height: 0.75;
    border-radius: .25rem;
}