app-user-list {
    width: 100%;
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    .userListContainer {
        height: 325px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

@media screen and (min-width:737px) and (min-height: 973px) {
    .userListContainer {
        height: 525px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
    .userListContainer {
        height: 580px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

@media screen and (min-width: 1366px) and (min-height: 1024px) {
    .userListContainer {
        height: 580px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .userListContainer {
        height: 925px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

@media screen and (max-width:767px) {
    .userListContainer {
        height: 175px;
        padding: 0;
    }
    .scrollWrapper {
        overflow-y: auto;
        padding-right: 10px;
        height: 100%;
    }
}

.scrollWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	background-color: #F5F5F5;
}

.scrollWrapper::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.scrollWrapper::-webkit-scrollbar-thumb {
    border-radius: 30px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #4D90FE;
}